*, *::before, *::after{
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
}

.link{
  color: white;
  text-decoration: none;
}

.about-container{
  height: 100vh;
  padding: 50px;
}
.about-container > h1{
  text-align: center;
  font-size: 50px;
}
.about-desc{
  display: grid;
  width: 90%;
  height: 75vh;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
}

.about-desc >p{
  line-height: 1.5;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}


.newslatter-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newslatter-container > h1{
  margin-bottom: 30px;
  font-size: 40px;
}
.newsletter-button{
  padding: 15px 20px;
  border: none;
  color: black;
  background-color: white;
  display: block;
  font-size: 20px;
  width: 300px;
  margin: 20px 0 20px 0;
  cursor: pointer;
}
